{% include base_path %}
{% assign split_path = page.path | split: "/" %}
{% assign locale = split_path[1] %}
{% assign titles = site.data.navigation[locale].footer %}
<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} - <a href="https://github.com/Plailect/Guide_Panda">{{ titles[0].title }}</a> - <a href="site-navigation">{{ titles[1].title }}</a></div>
